<div class="card" style="width: 70rem">
    <div class="card-header">
       <h4> Endereço de Entrega</h4>
    </div>
</div>

    <table style="width: 70rem" class="table table-light" >
        <tr>
            <td>
                <div class="card-title">CEP:
                    <small class="atext-muted">{{ enderecoObj?.cep }}</small>
                </div>
            </td>

            <td>
                <div class="card-title">Cidade
                    <small class="atext-muted">{{ enderecoObj?.localidade }}</small>
                </div>
            </td>
           
            <td>
                <div class="card-title">Bairro:
                    <small class="atext-muted"> {{ enderecoObj?.bairro }} </small>
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="card-title">Logradouro:
                    <small class="atext-muted">{{ enderecoObj?.logradouro }}</small>
                </div>
            </td>
           
            <td>
                <div class="card-title">Estado:
                    <small class="atext-muted">{{ enderecoObj?.uf }}</small>
                </div>
            </td>

            <td>
                <div class="card-title">Número:
                    <small class="atext-muted"> {{ enderecoObj?.numero }} </small>
                </div>
            </td>
        </tr>
    </table>

<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Seu Carrinho</span>
            <span class="badge badge-secondary badge-pill">{{ venda?.quantidade }}</span>
        </h4>

        <ul>
            <li class="list-group-item d-flex justify-content-between">
                <span>TOTAL(BRL) </span>
                <strong>{{ venda.venda?.valor }}</strong>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <span>Frete </span>
                <strong>R$15,00</strong>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <span>PAGAMENTO FINAL </span>
                <strong>{{ venda.venda?.parcela }}</strong>
                <strong>{{ venda.venda?.valorParcela }}</strong>
            </li>
        </ul>

    </div>

    <div class="col-md-8 order-md-1">
        <form [formGroup]="pagaForm" 
            (submit)="finalizarVenda()">
            
            <h4 class="mb-3">Pagamento</h4>

            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credito" type="radio" class="custom-control-input" name="metodo" >
                    <label class="custom-control-label" for="credito">Cartão de Crédito</label>
                </div>

                <div class="custom-control custom-radio">
                    <input id="debito" type="radio" class="custom-control-input" name="metodo" >
                    <label class="custom-control-label" for="debito">Cartão de Débito</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nomeCartao">Nome no Cartão</label>
                    <input type="text" class="form-control" id="nomeCartao" formControlName="nomeCartao" >
                    <small class="text-muted">Nome Completo, como no Cartão.</small>
                </div>

                <div class="col-md-6 mb-3" >
                    <label for="cc-number">Número do Cartão</label>
                    <input type="tel" class="form-control" (input)="tipoCard($event.target.value)" autocomplete="cc-number" id="cc-number" formControlName="numCartao" ccNumber>
                    <div *ngIf="showType == true">
                        {{ card?.type }}
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-exp">Data de Validade</label>
                    <input type="tel" class="form-control" autocomplete="cc-exp" id="cc-exp" formControlName="exp" ccExp>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="cc-csc">CVV</label>
                    <input type="tel" class="form-control" autocomplete="off" id="cc-csc" formControlName="cvv" maxlength="4" ccCVC >
                    <small class="text-muted">Código de Segurança</small>
                    
                </div>
            </div>

            <hr class="mb-3">
            <button class="btn btn-primary" type="submit"  [disabled]="pagaForm.valid == false" >Confirmar Pagamento</button><br>
        </form>
    </div>
</div>
