<p>Aqui vai os produtos que adicionados ao carrinho</p><br>
<p>aqui vai o endereço confirmado</p>

<div class="col-md-8 order-md-1">
    <form [formGroup]="pagamento">
        <h4 class="mb-3">Pagamento</h4>
        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credito" type="radio" class="custom-control-input" name="metodo">
                <label class="custom-control-label" for="credito">Cartão de Crédito</label>
            </div>

            <div class="custom-control custom-radio">
                <input id="debito" type="radio" class="custom-control-input" name="metodo">
                <label class="custom-control-label" for="debito">Cartão de Débito</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="nome-cartao">Nome no Cartão</label>
                <input type="text" class="form-control" id="nome-cartao">
                <small class="text-muted">Nome Completo, como no Cartão.</small>
            </div>

            <div class="col-md-6 mb-3">
                <label for="num-cartao">Número do Cartão</label>
                <input type="text" class="form-control" id="num-cartao">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="validade">Data de Validade</label>
                <input type="text" class="form-control" id="validade">
            </div>

            <div class="col-md-3 mb-3">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv">
                <small class="text-muted">Código de Segurança</small>
            </div>
        </div>

        <hr class="mb-3">
        <button class="btn btn-primary" type="submit">Confirmar Pagamento</button><br>
    </form>
</div>