<p></p>
<br/>
<!-- <app-carousel></app-carousel> -->
<app-carousel ></app-carousel>
<br/><br/>
<p>As melhores ofertas</p>
<app-produtos categoria="Eletronicos" nome="teste" descricaoProduto="teste" preco="150.00"imgSRC="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRB4JuEeFeVsIFXjcrnMnt6fxJSJnnoaM6nf9zW0zheUfgHcqFk1X9mkO2aWq1Ys2Fn4DDzLlpRKRDAYQ-9MHevMIgSMQIC&usqp=CAc"></app-produtos>
<br/><br/>
<p>Os mais vendidos</p>
<app-produtos categoria="Eletronicos" nome="teste" descricaoProduto="teste" preco="150.00"imgSRC="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRB4JuEeFeVsIFXjcrnMnt6fxJSJnnoaM6nf9zW0zheUfgHcqFk1X9mkO2aWq1Ys2Fn4DDzLlpRKRDAYQ-9MHevMIgSMQIC&usqp=CAc"></app-produtos>
<br/><br/>
<p>Os mais desejados</p>
<app-produtos categoria="Eletronicos" nome="teste" descricaoProduto="teste" preco="150.00"imgSRC="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRB4JuEeFeVsIFXjcrnMnt6fxJSJnnoaM6nf9zW0zheUfgHcqFk1X9mkO2aWq1Ys2Fn4DDzLlpRKRDAYQ-9MHevMIgSMQIC&usqp=CAc"></app-produtos>
<br/> <br/>
