<form class="background Central Center">
  <h2><small class="form-text text-muted negrito-padding text-center">Detalhes Usuario</small></h2>

  <form [formGroup]="detalhesForm" (ngSubmit)="onSubmit()">

    <div formGroupName="usuario">

      <div class="card">

        <div class="row cpp">
          <div class="col-md-1">
            <label for="id">ID</label>
            <div class="input-group form-group">
              <input type="text" class="form-control" formControlName="id" disabled>
            </div>
          </div>
          <div class="col-md-8">
            <label for="nome">Nome: </label>
            <div class="input-group form-group">
              <input type="nome" class="form-control" formControlName="nome" placeholder="Nome Completo">
            </div>
            <app-msg-erro [isError]="isErrorCampo('usuario.nome')" mensagem="Preencha os dados corretamente">
            </app-msg-erro>
          </div>

          <br>

          <div class="col-md-3">
            <label for="nascimento">Data de Nascimento: </label>
            <div class="input-group form-group-dataDeNascimento">
              <input type="text" class="form-control" formControlName="nascimento">
            </div>
            <app-msg-erro [isError]="isErrorCampo('usuario.nascimento')" mensagem="Preencha os dados corretamente">
            </app-msg-erro>
          </div><br>
        </div>


        <div class="row cpp">
          <div class="col-md-7 ">
            <label for="cpf">CPF: </label>
            <div class="input-group form-group-cpf">
              <input type="number" (keypress)="somenteNumerosCpf($event)" class="form-control" formControlName="cpf"
                placeholder="CPF">
            </div>
            <app-msg-erro [isError]="isErrorCampo('usuario.cpf')" mensagem="Preencha os dados corretamente">
            </app-msg-erro>
          </div>

          <div class="col-md-4 ">
            <label for="telefone">Telefone: </label>
            <div class="input-group form-group-telefone">
              <input type="text" class="form-control" formControlName="telefone">
            </div>
          </div>
          <!-- row -->
        </div>

        <div class="row cpp mb-3">

          <div class="col-md-4">
            <label for="celular">Celular: </label>
            <div class="input-group form-group-celular">
              <input type="text" class="form-control" formControlName="celular">
            </div>
          </div>

          <div class="col-md-7">
            <label for="email">E-mail</label>
            <div class="input-group form-group-email">
              <input type="email" class="form-control" formControlName="email">
            </div>

            <app-msg-erro [isError]="isErrorCampo('usuario.email')" mensagem="Preencha os dados corretamente">
            </app-msg-erro>

          </div>

          <br>
          <!-- row -->
        </div>
      </div>


      <br>
      <h2><small class="form-text text-muted negrito-padding text-center">Endereço</small></h2>
      <div class="card">

        <div formGroupName="endereco">
          
            <div class="row cpp">

              <div class="col-md-6">
                <label for="cep" class="control-label">CEP</label>
                <div class="input-group form-group-cep">
                  <input type="number" (keypress)="somenteNumerosCep($event)" required class="form-control" id="cep"
                    formControlName="cep">
                </div>
              </div>

              <div class="col-md-1 but">
                <button class="btn btn-primary" (click)="buscarCep(cep.value)">Buscar</button>
                <app-msg-erro [isError]="isErrorCampo('endereco.cep')" mensagem="Preencha os dados corretamente">
                </app-msg-erro>
              </div>

            </div>


            <div class="row cpp">

              <div class="col-md-8">
                <label for="rua" class="control-label">Logradouro</label>
                <div class="input-group form-group-logradouro">
                  <input type="text" [value]="objEnd?.logradouro" class="form-control" id="logradouro"
                    formControlName="logradouro">
                  <app-msg-erro [isError]="isErrorCampo('endereco.logradouro')"
                    mensagem="Preencha os dados corretamente">
                  </app-msg-erro>
                </div>
              </div>

              <div class="col-md-3">
                <label for="numero" class="control-label">Número</label>
                <div class="input-group form-group-numero">
                  <input type="text" class="form-control" id="numero" formControlName="numero">

                </div>

                <app-msg-erro [isError]="isErrorCampo('endereco.numero')" mensagem="Preencha os dados corretamente">
                </app-msg-erro>

              </div>

            </div>

            
            <div class="row cpp">

              <div class="col-md-6">
                <label for="complemento" class="control-label">Complemento</label>
                <div class="input-group form-group-complemento">
                  <input type="text" class="form-control" id="complemento" formControlName="complemento">
                </div>
              </div>

              <div class="col-md-5">
                <label for="bairro" class="control-label">Bairro</label>
                <div class="input-group form-group-bairro">
                  <input [value]="objEnd?.bairro" type="text" class="form-control" id="bairro" formControlName="bairro">
                  <app-msg-erro [isError]="isErrorCampo('endereco.bairro')" mensagem="Preencha os dados corretamente">
                  </app-msg-erro>
                </div>
              </div>
              <!-- row -->
            </div>

            <div class="row cpp mb-3">

              <div class="col-md-10">
                <label for="cidade" class="control-label">Cidade</label>
                <div class="input-group form-group-cidade">
                  <input [value]="objEnd?.localidade" type="text" class="form-control" id="cidade"
                    formControlName="cidade">
                </div>

                <app-msg-erro [isError]="isErrorCampo('endereco.cidade')" mensagem="Preencha os dados corretamente">
                </app-msg-erro>

              </div>

              
              <div class="col-md-1">
                <label for="estado" class="control-label">Estado</label>
                <div class="input-group form-group-estado">
                  <input [value]="objEnd?.uf" type="text" class="form-control" id="estado" formControlName="estado">
                </div>

                <app-msg-erro [isError]="isErrorCampo('endereco.estado')" mensagem="Preencha os dados corretamente">
                </app-msg-erro>


              </div>

            </div>
            <!-- formgroupendereco -->
          </div>
          <!-- card -->
        </div>
        <!-- formGroupName="usuario" -->
      </div>
      
    <!-- </div> -->
    <br>
    <div class="salvar">
      <button type="submit" class="btn btn-dark cad_btn md-1" [routerLink]="['/admin/usuarios']">Voltar</button>

      <button type="submit" class="btn btn-dark cad_btn" [disabled]="detalhesForm.valid? false : true">Salvar</button>
    </div>
  </form>
</form>