<!-- Import de FontAwesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
  integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">

<div class="container">
  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark" style="background-color: #77ddd6;">

    <div style="background-color: #0000ff;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0" style="color: #fff;">Conecte-se conosco nas redes sociais!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a href="#">
              <i class="fab fa-facebook-f" style="margin:5px; font-size: 20px; color: #fff;"></i>
            </a>
            <!-- Twitter -->
            <a href="#">
              <i class="fab fa-twitter" style="margin:5px; font-size: 20px; color: #fff;"></i>
            </a>
            <!-- Google +-->
            <a href="#">
              <i class="fab fa-google-plus-g" style="margin:5px; font-size: 20px; color: #fff;"></i>
            </a>
            <!--Linkedin -->
            <a href="#">
              <i class="fab fa-linkedin-in" style="margin:5px; font-size: 20px; color: #fff;"></i>
            </a>
            <!--Instagram-->
            <a href="#">
              <i class="fab fa-instagram" style="margin:5px; font-size: 20px; color: #fff;"></i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5" style="background-color: #77ddd6;">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Sobre nós</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque alias voluptatem eius ab neque quos.
            Accusantium enim ratione ab at, ipsam velit unde magni iusto laboriosam explicabo saepe sapiente.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Categorias</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Eletrodomésticos</a>
          </p>
          <p>
            <a href="#!">Eletronicos</a>
          </p>
          <p>
            <a href="#!">Celulares</a>
          </p>
          <p>
            <a href="#!">Informática</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Dúvidas</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Atendimento</a>
          </p>
          <p>
            <a href="#!">Sobre a Entrega</a>
          </p>
          <p>
            <a href="#!">Troca e Devolução</a>
          </p>
          <p>
            <a href="#!">Cancelamento</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contatos</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home" style="margin:5px; font-size: 20px; color: #000;"></i> São Paulo, SP 03268199, BR
          </p>
          <p>
            <i class="fas fa-envelope" style="margin:5px; font-size: 20px; color: #000;"></i> sac@kaikeletro.com.br
          </p>
          <p>
            <i class="fas fa-phone" style="margin:5px; font-size: 20px; color: #000;"></i> + 011 2749 8473
          </p>
          <p>
            <i class="fas fa-print" style="margin:5px; font-size: 20px; color: #000;"></i> + 011 7635 8276
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #77ddd6;">© 2019 Copyright: Kaik Eletro
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>