<h2><small class="form-text text-muted negrito-padding text-center">Adicionar um Produto</small></h2>

<div class="row">
    <div class="col-7">
        <form action="">
            <h3><small>Nome</small></h3>
            <input type="text" class="form-control">
    
            <h3><small>Nome</small></h3>
            <input type="text" class="form-control">

        </form>
    </div>
    <div class="col-3">
        <div style="background: #f1f1f1; width: 250px;height: 250px;">

        </div>
    </div>
</div>