<div class="background">
    <h2><small class="form-text text-muted negrito-padding text-center">Adicionar um Produto</small></h2>
    <form>
        <div class="form-group">
            <h3><small>Nome *</small></h3>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <h3><small>Descricao *</small></h3>
            <textarea name="" class="form-control" id=""></textarea>
        </div>

        <div class="row">


            <!-- ### INPUT: a cada tecla pressionada ira verificar se o que foi digitado -->
            <!-- é igual a alguma categoria. -->
            <!-- ### SELECT à esquerda: Categorias existentes no banco. -->
            <!-- ### BUTTON ( > ): 1º Verifica se um ou mais itens da SELECT foi selecionado, -->
            <!-- se true ira habilitar o botao. 2º Ira adicionar a categoria selecionada para a tabela da direta.  -->
            <!-- ### BUTTON ( < ): 1º Verifica se um ou mais itens da SELECT foi selecionado, -->
            <!-- se retornar true ira habilitar o botao. 2º Removera os itens que foram marcados. -->
            <!-- ### SELECT à direita: Categorias selecionadas pelo ADM. -->
            <!-- ### BUTTON ( Adicionar nova categoria ): Ira pegar o nome da nova categoria e, -->
            <!-- verificar se a categoria nao existe, caso for false ira ser adicionada na tabela do bd. -->

            <div class="col">
                <h3><small>Categoria *</small></h3>
                <div class="col-5">
                    <input type="text" class="form-control col-form-label-sm"
                        placeholder="Pesquise por uma categoria...">
                </div>
                <div class="row container margin-top">
                    <div class="col-6">
                        <div class="form-group">
                            <select multiple class="form-control" id="exampleFormControlSelect1">
                                <option value="" *ngFor="let c of categorias">{{ c.nome  }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div>
                            <button class="btn btn-success" (click)="showAddCategoria($event)" [disabled]="true"> >
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-danger" (click)="showAddCategoria($event)" [disabled]="true">
                                < </button> </div> </div> <div class="col-5">
                                    <div class="form-group">
                                        <select multiple class="form-control" id="exampleFormControlSelect1">
                                        </select>
                                    </div>
                        </div>
                    </div>
                    <div class="container">
                        <p (click)="adicionarCategoria($event)" class="linkCategoria">Adicionar uma nova categoria<p>
                    </div>
                    <div class="form-group">
                        <h3><small>Preco</small></h3>
                        <input class="form-control" type="number">
                    </div>
                </div>

            </div>
            <div class="row container">
                <button class="btn btn-success">Adicionar Foto</button>
            </div>

    </form>
</div>