<div class="container ">
  <div class="navbar navbar-expand-lg navbar-dark barra-topo">

    <div id="left">
      <a class="menu" href="#" [routerLink]="['']" routerLinkActive="active" >
        Kaik Eletro
      </a>
    </div>

    <div id="center"></div>

    <div id="right">

      <div *ngIf="isAuth == false" class="box">
        <img routerLink="registro" class="img-fluid subscribe cursor" title="Cadastre-se"
          src="https://img.icons8.com/dotty/80/000000/sign-up--v1.png">
      </div>
      <div *ngIf="isAuth == false" class="box">
        <img routerLink="login" title="Entrar" class="img-fluid logout cursor"
          src="https://img.icons8.com/ios-glyphs/24/000000/enter-2.png">
      </div>
      <div *ngIf="isAuth == true" class="box">
        <img (click)="sair()" class="img-fluid logout cursor" src="https://img.icons8.com/metro/26/000000/exit.png" title="Sair">
      </div>
      <div class="box">
        <img routerLink="carrinho" class="img-fluid logout cursor" src="/assets/imagens/shopping-cart.svg"
          title="Carrinho">
      </div>
<!-- 
      <div class="box">
        <a (click)="isAuthInverter()" href="#">Inverter</a>
      </div> -->
    </div>

  </div>
</div>

<div class="container ">
  <nav class="navbar navbar-expand-lg navbar-dark  navbar-mine">

    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="">
          <img routerLink='home' class=" img-fluid img-logo" src="/assets/imagens/ecommerce-logo.png">
        </a>
      </div>
      <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarToggle">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [collapse]="isCollapsed" class="collapse navbar-collapse menu" id="navbarToggle">
        <ul id="btn-busca" class="nav navbar-nav navbar-right">

          <li class="nav-item">
            <a class="nav-link" routerLink="produtos" routerLinkActive="active" [queryParams]="{categoria: 'melhores-ofertas'}">
              <h6 class="mb-0">Melhores Ofertas</h6>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="produtos" [queryParams]="{categoria: 'celular'}"
              routerLinkActive="active">
              <h6 class="mb-0">Celulares</h6>
            </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link" routerLink="produtos" routerLinkActive="active" [queryParams]="{categoria: 'informatica'}">
              <h6 class="mb-0">Informática</h6>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="produtos" routerLinkActive="active" [queryParams]="{categoria: 'eletrodomestico'}">
              <h6 class="mb-0">Eletrodomésticos</h6>
            </a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-1 my-lg-0 search-form">
          
        <div [tooltip]="tooltipProdutos" placement="bottom" delay="500"  >
          <input class="form-control mr-sm-1" type="search" placeholder="Buscar" aria-label="Buscar" #nomeProduto  (change) = "buscarProdutos(nomeProduto)">
        </div>
          
      </form>

    </div>

  </nav>
</div>
