
<div class="navbar navbar-expand-lg navbar-dark barra-topo">
    <div class="container">

      <div id="left"></div>

      <div id="center"></div>

      <div id="right" style="display: inline-flex;">

        <div class="box">
          <i routerLink="dashboardAdm" class="fas fa-key cursor" title="Entrar como administrador" width="500px" height="500px" ></i>
        </div>

        <div *ngIf="!isAuth" class="box">
          <img routerLink = "registro"  class="img-fluid subscribe cursor" title="Cadastre-se" src="https://img.icons8.com/dotty/80/000000/sign-up--v1.png" >
        </div>

        <div *ngIf="!isAuth" class="box">
          <img  routerLink = "login" title="Entrar" class="img-fluid logout cursor" src="https://img.icons8.com/ios-glyphs/24/000000/enter-2.png" >
        </div>

        <div *ngIf="isAuth" class="box">
          <img class="img-fluid logout cursor" src="https://img.icons8.com/metro/26/000000/exit.png" title="Sair" width="50px" height="50px"> 
        </div>

        <div *ngIf="isAuth" class="box">
          <img routerLink="carrinho" class="img-fluid logout cursor" src="/assets/imagens/shopping-cart.svg" title="Carrinho" width="50px" height="50px">
        </div>

      </div>
    </div>
  </div>
  


<nav  class="navbar navbar-expand-lg navbar-dark  navbar-mine">
  <div class="container-fluid">
  <div >
  <a class="navbar-brand cursor" title="Home">
  <img routerLink='home'  class=" img-fluid img-logo" src="/assets/imagens/ecommerce-logo.png">
</a>
</div>
<button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
  <span class="navbar-toggler-icon"></span>
</button>

  <div  [collapse]="isCollapsed" class="collapse navbar-collapse menu" id="navbarToggle" style="justify-content: center;">

    <ul id="btn-busca" class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="produtos" routerLinkActive="active" [queryParams]="{categoria: 'melhores-ofertas'}">
          <h6 class="mb-0">Melhores Ofertas</h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="produtos" [queryParams]="{nomeCaterogia: 'celular'}"
          routerLinkActive="active">
          <h6 class="mb-0">Celulares</h6>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="produtos/audio_e_video" routerLinkActive="active">
          <h6 class="mb-0">TV e Áudio</h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="produtos/informatica" routerLinkActive="active">
        <h6 class="mb-0">Informática</h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="produtos/eletro" routerLinkActive="active">
        <h6 class="mb-0">Eletrodomésticos</h6>
        </a>
      </li>
        
    </ul >
     
  </div>
    <form class="form-inline my-1 my-lg-0 search-form">
      <input class="form-control mr-sm-1" type="search" placeholder="Buscar" aria-label="Buscar">
      <!-- <button class="btn btn-dark" type="submit">Buscar Produto</button> -->
    </form>
  </div>
  
</nav>

