<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">

<div class="navbar navbar-expand-lg navbar-dark barra-topo">
  
    <div class="container">

      <div id="left"></div>

      <div id="center"></div>

      <div id="right" style="display: inline-flex;">

        <div class="box" *ngIf="logadoAdmin() == true" >
          <i [routerLink]="['/admin']" style="font-size: 20px;" class="fas fa-lock cursor" title="Entrar como administrador" width="500px" height="500px" ></i>
        </div>

        <div *ngIf="!isAuth" class="box">
          <i class="fas fa-user-plus cursor" routerLink="registro" title="Cadastre-se" style="font-size: 20px;"></i>
        </div>

        <div *ngIf="!isAuth" class="box">
          <i class="fas fa-sign-in-alt cursor" title="Entrar" routerLink="login" style="font-size: 20px;"></i>
        </div>

        <div *ngIf="isAuth" class="box">
          <i title="Ver carrinho" class="fas fa-cart-arrow-down cursor" 
              routerLink="carrinho" style="font-size: 20px;">
              <!-- {{  carrinhoService.totalItensCarrinho() }} -->
          </i>
        </div>

        <div *ngIf="isAuth" class="box">
          <i (click)="sair()" class="fas fa-sign-out-alt cursor" title="Sair" style="font-size: 20px;" routerLink="login"></i>
        </div>
      </div>
    </div>
  </div>
  
  

<nav  class="navbar navbar-expand-lg navbar-dark  navbar-mine">
  <div class="container-fluid">
  <div >
  <a class="navbar-brand cursor" title="Home">
  <img routerLink='home'  class=" img-fluid img-logo" src="/assets/imagens/ecommerce-logo.png">
</a>
</div>
<button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
  <span class="navbar-toggler-icon"></span>
</button>

  <div  [collapse]="isCollapsed" class="collapse navbar-collapse menu" id="navbarToggle" style="justify-content: center;">

    <ul id="btn-busca" class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="nossos-produtos" [queryParams]="{nomeCategoria:'Melhores-ofertas'}" routerLinkActive="active">
          <h6 class="mb-0">Melhores Ofertas</h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="nossos-produtos" [queryParams]="{nomeCategoria:'Celulares'}" routerLinkActive="active">
          <h6 class="mb-0">Celulares</h6>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="nossos-produtos" [queryParams]="{nomeCategoria:'TV-audio'}" routerLinkActive="active">
          <h6 class="mb-0">TV e Áudio</h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="nossos-produtos" [queryParams]="{nomeCategoria:'Informática'}" routerLinkActive="active">
        <h6 class="mb-0">Informática</h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="nossos-produtos" [queryParams]="{nomeCategoria:'Eletrodoméstico'}" routerLinkActive="active">
        <h6 class="mb-0">Eletrodomésticos</h6>
        </a>
      </li>

    </ul > 

  </div>
    <form class="form-inline my-1 my-lg-0 search-form">
      <div   placement="bottom" delay="500"  >
        <input [popover]="myPopover" class="form-control mr-sm-1" type="search" placeholder="Buscar" aria-label="Buscar" #nomeProduto  (input) = "buscarProdutos(nomeProduto)">
      </div>

      <div id="pesquisarMenu">
        <popover-content #myPopover [hidden]="isHiddden"
            title="Produtos"
            [closeOnClickOutside]="true"
            id="popoverMenu"
            >
            <!-- <ul *ngFor = "let p of tooltipProdutos">
              <li style="color: #C21F39"><a>{{p.nome}}</a></li>
            </ul> -->
            <div class="list-group" *ngFor="let p of tooltipProdutos" id="ProdutosMenu">
              <a href="#" [routerLink]="['/detalhes', p.idProduto]" class="list-group-item list-group-item-action azul">{{p.nome}}</a>
            </div>
        </popover-content>
         <!-- <button [popover]="myPopover">click this button to see a popover</button>  -->
      </div>
      
    </form>


</div>
</nav>

