<div class="dark-screen">
    <div class="screen">
        <button type="button" class="close  float-right btn-exc" (click)="fechar()" aria-label="Close">
            <h1><span aria-hidden="true">&times;</span></h1>
          </button>
          <div class="container">
            <form action="" [formGroup]="meuForm" (ngSubmit)="onSubmit()">
                <h5 class="id"><b>ID: {{ produto.idProduto }}</b> </h5>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            Nome produto
                            <input type="text" [value]="produto.nome" class="form-control">
                        </div>
                        <div class="col">
                            Categoria
                            <select name="categoria" class="form-control" >
                                <option *ngFor="let cat of produto.categorias" value="{{ cat.nome }}">{{ cat.nome }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-4">
                                Preco
                                <input type="number" [value]="produto.preco" class="form-control">   
                        </div>
                        <div class="col-8">
                            <p>Descrição</p> 
                            <textarea rows="3" class="form-control">{{ produto.descricao }}</textarea>
                         </div>
                    </div>
                    
                </div>
                
                <label for='selecao-arquivo' class="btn btn-success btn-sm">Adicionar uma imagem</label><br><br>
                <input id='selecao-arquivo' type='file' (change)="getImageAndPut($event)">

                <div class="row">
                   
                    <div class="col-3" *ngFor="let imgs of imagens">
                        <input type="button" class="btn btn-danger rounded-circle myBtnClose btn-sm" value="x" (click)="lessImage(imgs)">
                        <img class="img-thumbnail " [src]=" verificarImagem( imgs )  ? imgs : imgs.imagemProduto " alt="Generic placeholder image">
                    </div>
                
                </div>
                <div class="container clearfix">
                    <button type="button" class="btn btn-success float-right">Salvar</button>
                  </div>
            </form>
    </div>
    </div>
</div>