<!-- Carrosel de imagens -->
<div class="row" id="CarrosselDeImagens">
    <div class="col-4 ">
        <img [src]="imagemAtual" height="65%" width="100%" />
        <div class="row">
            <div class="col zeroPadding " *ngFor="let img of produto?.imagens">
                <img width="100%" heigth="15%" [src]="img?.imagemProduto" (click)="trocarImagem(img?.imagemProduto)" />
            </div>
        </div>
    </div>

    <!-- Mostrar nome do produto -->
    <div class="col" id="extDetalhesDaCompra">
        <div class=" zeroPadding" id="intNomeDoProduto">
            <span class=" font-weight-bold">
                <p class="text-center" id="spanNomeDoProduto">{{produto?.nome}}</p>
            </span>
        </div>

        <!-- Mostrar descricao do produto -->
        <div id="DescricaoDoProduto">
            <span class="font-weight-light font-italic text-justify">
                {{produto?.descricao}}
            </span>
        </div>


        <!-- Calculo de prazo e frete -->
        <div id="exFrete">
            <div id="intFrete">
                <span>Calcular frete e prazo</span>
                <br>
                <input type="number" maxlength=8 placeholder="00000-000" id="inputCalcFrete" #cep> 
                <button class="btn btn-primary" id="btnCalcFrete" (click)="calcularCEP()" >
                    Calcular 
                    <i class="fa fa-search"></i>
                </button>

                <hr>
                <!-- Mostrar componente para calculo de frete -->
                <table class="table">
                    <thead id="headCalcFrete">
                        <tr>
                            <th scope="col">Prazo</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>

                    <!-- Mostrar mensagem solicitando que o user digite o CEP para calcular -->
                    <span *ngIf="true" id="bodyDefaultFrete">
                        Digite o CEP para calcular
                    </span>

                    <!-- Mostrar na tela o valor e prazo do frete (caso o usuário já tiver preenchido o CEP) -->

                    <tbody *ngIf="false" id="bodyWithDetailsFrete">
                        <tr>
                            <td>3 dias úteis</td>
                            <td>R$ 20,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Quantidade de produtos que a pessoa deseja comprar -->
        <div id="exCompra">
            <div class="qty mt-5" id="intCompra">
                Quantidade:<br>
                <span class="minus bg-dark">-</span>
                <input type="number" class="count" name="qty" value="1" readonly id="inputCompra">
                <span class="plus bg-dark">+</span>
            </div>
            <br>

            <!-- Mostrar preços -->
            <div id="divMostrarPreco">
                <h4 id="precoFinal"> 
                    {{ produto?.preco| currency:'BRL':true:'1.2-2' }}
                </h4>
                <!-- Botão de comprar -->
                <button class="btn btn-primary" id="btnComprarAgora">
                    <i class="fas fa-shopping-basket"></i>
                    Comprar agora
                </button>
                <br>

                <!-- Botão de adicionar ao carrinho -->
                <button class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>
                    Adicionar ao carrinho
                </button>
            </div>
        </div>

        <!-- Botaão de formas de pagamento -->
        <div id="parcelamento">
            <button  class="btn btn-outline-primary"
                id="btnFormaDePagamento" (click)="valorPorParcela()">Formas de pagamento</button>

            <!-- Pop-up que irá aparecer quando o user clicar no botão de formas de pagamento-->
            <div id="id01" class="modal" #modal>
                <form class="modal-content animate" method="post">
                    
                    <span (click)="closeModal()" class="close"> &times; </span>
                    
                        <!-- Pop- up de parcelas -->
                    <div class="container" >
                        <table class="table table-striped" >
                            <tbody >
                                <tr *ngFor="let parc of parcelamentos">
                                    <th scope="row" ></th>
                                    <td> {{ parc?.parcela }}</td>
                                    <td> {{ parc?.valorPorParcela | currency:'BRL':true:'1.2-2'}}</td>
                                    <td> {{ parc?.juros }} </td>
                                    <td> {{ parc?.valorTotal | currency:'BRL':true:'1.2-2'}}</td> 
                                </tr>
                            </tbody>
                        </table>
                        Para financiamento com juros de 2,29% a.m. - CET máximo de 31,21% a.a.

                <!-- Botão para fechar -->
                    </div>
                        <button type="button" ngbAutofocus class="btn btn-danger"
                        (click)="closeModal()">Fechar</button>
                </form>

            </div>
        </div>
    </div>
</div>