
<div class="row">
    <div *ngFor="let prod of produtosPaginacao?.content" class="card  col-sm-4" >
        <div class="box-produtos">
            <img class="card-img-top" [src]="prod?.imagemPrincipal?.imagemProduto"  alt="Card image cap">
            <div class="card-body">
                <!-- <span class="badge badge-pill badge-info">{{ categoria }}</span> -->
                <h5 class="card-title">{{ prod?.nome }}</h5>
                <p class="card-text">{{  prod?.descricaoProduto }}</p>
                <h5 class="card-title">Preço {{ prod?.preco | currency:'BRL': 'symbol' :'1.2-2' }}</h5>
                <button (click)="mostrarProdutoDetalhes(prod)" class="btn btn-primary">Comprar</button>
            </div>
        </div>        
    </div>    
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        
            <button class="btn-primary" (click)="primeiraPagina()" style="margin-right: 10px;">Primeira</button>
            <button class="btn-primary" (click)="proximaPagina()" style="margin-right: 10px;">Anterior</button>
            <button class="btn-primary" (click)="anteriorPagina()" style="margin-right: 10px;">Próxima</button>
            <button class="btn-primary" (click)="ultimaPagina()">Última</button>
        
    </div>
    
</div>
