<a [routerLink]="['/dashboardAdm']"> <img src="../../../assets/imagens/left-arrow.png" alt="" class="icon-back"> </a>

<div class="background rounded">

    <h2><small class="form-text text-muted negrito-padding text-center">Lista de Pedidos</small></h2>

    <div class="row barraPesquisa">
            <div class="col-9 padding-0">
                <input type="text" class="form-control" placeholder="Pesquise..." #pesquise>
            </div>

            <div class="col-2 padding-0">
                <select name="pesquisaPor" class="form-control padding-0" #pesquisaPor>
                    <option value="id">ID</option>
                    <option value="nome">CPF</option>
                </select>
            </div>

            <div class="col-1 padding-0">
                <button class="btn btn-sm btn-cheio" (click)="pesquisar(pesquisaPor, pesquise)"><img src="https://img.icons8.com/search" class="icon"></button>
            </div>
    </div>

    <table class="table text-center" *ngIf="pesquisado == undefined" [hidden]="isDelete == true || isShowMore">
        <thead>
            <tr>
                <th>ID do pedido</th>
                <th >Nome Usuario</th>
                <th>CPF</th>
                <th>R$</th>
                <th>Data da venda</th>
                <th>Status</th>
                <th>Pagamento</th>
            

                <th>Ver mais / Excluir</th>
            </tr>
        </thead>
        <tbody>

                
                        <tr *ngFor="let pedido of infosPedidos; let i=index">
                            <td> {{ pedido.id  }}</td>
                             <td> {{ pedido.usuario.nome }}</td> 
                             <td> {{ pedido.usuario.cpf }}</td> 
                             <td> {{ pedido.valor }}</td> 
                             <td> {{ pedido.dataVenda }}</td> 
                             <td> {{ pedido.status }}</td> 
                             <td> {{ pedido.pagamento }}</td> 
                    
                    <td>
                        <button class="btn btn-info btn-sm margin-right-5" (click)="showMore(produtos)">+</button>
                        <button class="btn btn-danger btn-sm" (click)="showDelete(produtos.idProduto)">x</button>
                    </td>
                
        </tbody>    
    </table>

    <!-- <app-deletar-produto [hidden]="isDelete == false" [idProduto]="id" (close)="lessDelete()" (deletado)="showMsgApagou($event)"></app-deletar-produto>-->
    <app-show-more *ngIf="isShowMore" [produto]="selecionado" (close)="lessMore()"></app-show-more> 
</div>
