
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Instante</th>
        <th>Pagamento</th>
        <th>Cliente</th>
        <th>Logradouro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of pedidosPaginacao?.content">
        <td>{{ obj.id }}</td>
        <td>{{ obj.instante }}</td>
        <td>{{ obj.pagamento.estado }}</td>
        <td>{{ obj.cliente.nome }}</td>
        <td>{{ obj.enderecoDeEntrega.logradouro }}</td>
        
      </tr>
      
    </tbody>
  </table>
  
  <div class="row">
    <div class="col-sm-12 text-center">
  
      <button class="btn-primary" (click)="primeiraPagina()" style="margin-right: 10px;">Primeira</button>
      <button class="btn-primary" (click)="anteriorPagina()" style="margin-right: 10px;">Anterior</button>
      <button class="btn-primary" (click)="proximaPagina()" style="margin-right: 10px;">Próxima</button>
      <button class="btn-primary" (click)="ultimaPagina()">Última</button>
  
    </div>
  
  </div>
  