



<nav  class="navbar navbar-expand-lg navbar-dark  navbar-mine">
  <div >
  <a class="navbar-brand" href="#"></a>
  <span class="img-logo">KaiKe Eletro</span>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse menu" id="navbarToggle">
    <ul id="btn-busca" class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="celulares" routerLinkActive="active">Celulares</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="audio_e_video" routerLinkActive="active">TV e Audio</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" routerLink="informatica" routerLinkActive="active">Informática</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="cameras" routerLinkActive="active">Câmeras</a>
       </li>
        
       <li class="nav-item">
          <a class="nav-link disabled" routerLink="eletro" routerLinkActive="active">Eletrodomésticos</a>
        </li>


        <li class="divisor" role="separator"><a href=""></a></li>

        <li class="nav-item">
          <a class="nav-link" routerLink="cadastro" routerLinkActive="active">Inscrever</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Entrar</a>
        </li>
               
    </ul > 
    <form  class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Buscar Produto</button>
    </form>
  </div>
</nav>

