nav.navbar-mine {
    background-color: blue;
    color: blue;
    height: 150px;
    
}



li{
    color: white;

}

.menu{
    color: white;
    
}

.navbar-nav>li>a:hover{
    color: darkmagenta;
    font: bold;
   
}

.divisor{
	width:1px;
	height:16px;
	background: white;
	margin: 16px 10px;
}

a{
    color:white;
    opacity: 1;
}

.img-logo{
	height:150px;
	width:200px;
	display:block;
	background: url('imagens/logo.png') no-repeat;
	background-size: contain;
    color:transparent;
    margin-top: 100px;
    size: 600px;
    border: solid 2px;
    background-size: 250px;
    margin-bottom: 50px;
}

#btn-busca{
    margin:auto;
}

.navbar-nav > li >a{
    color: white;
  }

