.card{
    margin-top: auto;
    margin-bottom: auto;
    /* width: 800px; */
    background-image: linear-gradient(to bottom, rgb(0, 0, 214), rgb(0, 0, 214), rgb(119, 211, 214), #bcc5c6, #cfd5d5);
    -webkit-box-shadow: 12px 12px 8px rgba(2, 1, 1, 0.77);
    -moz-box-shadow:    12px 12px 8px rgba(34, 32, 32, 0.77);
    box-shadow:         12px 12px 8px rgba(34, 32, 32, 0.77);
    filter:alpha(opacity=50); 
    opacity:0.9;
    }

.card-header h4{
    width: 900px;
    color: white;
    }
