<form [formGroup]="regForm" (ngSubmit)="onSubmit()">

  <p class="col-md-6" style="font-size:300%;">Dados Cadastrais</p>
  <div class="col-md-6">
    <label for="nome">Nome: </label>
    <input type="nome" class="form-control" formControlName="nome" placeholder="Nome Completo">
    <app-msg-erro [isError]="isErrorCampo(regForm.controls.nome)" mensagem="Campo Obrigatório"></app-msg-erro>
  </div><br>

  <div class="col-md-3">
    <label for="nascimento">Data de Nascimento: </label>
    <input type="date" calss="form-control" formControlName="nascimento">
  </div><br>

  <div class="col-md-3">
    <label for="cpf">CPF: </label>
    <input type="text" class="form-control" formControlName="cpf" placeholder="CPF">
  </div>

  <div class="col-md-3">
    <label for="telefone">Telefone: </label>
    <input type="text" class="form-control" formControlName="telefone">
  </div>

  <div class="col-md-3">
    <label for="celular">Celular: </label>
    <input type="text" class="form-control" formControlName="celular">
  </div>

  <div class="col-md-3">
    <label for="exampleInputEmail1">E-mail</label>
    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Insira Seu E-mail">
  </div>

  <div class="col-md-3">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" formControlName="senha" placeholder="Digite a Senha">
  </div>

  <div class="col-md-3">
    <label for="confirmarSenha">Digite a Senha Novamente</label>
    <input type="password" class="form-control" formControlName="confirmarSenha" placeholder="Digite Novamente a Senha">
  </div>

  <br><br>
  <p class="col-md-6" style="font-size:150%;">Endereço</p>
  <br>

  <div formGroupName="endereco">

    <div class="form-group">

      <div class="col-md-3">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep">
      </div><br>

      <div class="col-sm-10">
        <label for="rua" class="control-label">Lougradouro</label>
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="rua" formControlName="lougradouro">
      </div>

      <div class="col-md-3">
        <label for="numero" class="control-label">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
      </div>

      <div class="col-md-5">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>

      <div class="form-group">
        <div class="col-md-3">
          <label for="bairro" class="control-label">Bairro</label>
          <input type="text" class="form-control" id="bairro" formControlName="bairro">
        </div>

        <div class="col-md-3">
          <label for="cidade" class="control-label">Cidade</label>
          <input type="text" class="form-control" id="cidade" formControlName="cidade">
        </div>

        <div class="col-md-3">
          <label for="estado" class="control-label">Estado</label>
          <input type="text" class="form-control" id="estado" formControlName="estado">
        </div>
      </div>

    </div>
  </div>

  <button style="margin: 0 15px;" type="submit" class="btn btn-primary">Enviar</button>
  <button style="margin: 0 15px;" class="btn btn-default" (click)="resetar()">Cancelar</button>

</form>