<h2 style="margin-top: 20px;">Meu Carrinho</h2>

<div class="container-fluid">
<div class="row basket_columns">
        <h6 class="col-3">Produto</h6>
        <h6 class="col-3">Quantidade</h6>
        <h6 class="col-3">Preço</h6>
</div>

<div class="row">
    <div  class="col-sm-8">
        <ul  class="lista">
            <li *ngFor = "let p of itensCarrinhos" style=" margin-top: 10px ;border-top: 1px solid #086575; width: 700px;">
               <div style="display: inline-flex;">
                    
                <div  style="display: inline-flex; margin: 0;" class="col-sm-4"> 
                 <img src="{{p.img}}">
                    <p style=" white-space: normal;display: block; margin-top: 20px; margin-left: 20px;">{{p.nome}}</p>
                </div>

                <div class=" remove col-sm-2"> 
                    <select (change)="changeSuit(p.idProduto,p.quantidade,$event.target.value)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                      <a style=" font-size: 12px; margin-left: 80px ; cursor: pointer;" (click)="removeItem(p.idProduto)">Remover</a>
                </div>

                <div class="col-sm-2"> 
                    <p style="margin-top: 20px; margin-left: 230px;">{{p.preco * p.quantidade | currency:'BRL':true:'2.2-2'}}</p>
                </div>

                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <div class="card" style="width: 18rem; margin-left: 100px; height: 300px; margin-bottom: 20px;">
            <div class="card-body">
              <h5 class="card-title">Resumo do pedido</h5>
              <p class="card-text">{{ totalProdutos}} produtos &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                   {{valorProdutos | currency:'BRL':true:'2.2-2'}}</p>
              <p class="card-text">Frete &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; {{frete | currency:'BRL':true:'1.2-2'}}</p>
                <p style="border-top: solid 1px black;">TOTAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  {{valorTotal | currency:'BRL':true:'1.2-2'}}</p>
              <a href="#" class="btn btn-primary">Continuar</a>
            </div>
          </div>
    </div>
</div>
</div>

