/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(220, 220, 220);
}

.btn-cheio-sem-borda {
    border-radius: 0px;
    width: 100%;
}
.padding-0 {
    padding: 0px;
}

.box-produtos {
    background-color: #fff;
    border-radius: 20px;
    margin: 20px; 
}

.col-md-4 .col-sm-4 {
    /* -ms-flex: 0 0 50%;
    flex: 0 0 50%; 
    position: relative;  */      
    margin-right: 10px;
    margin-left: 10px;    
}

/* tooltip CSS */


  .ng-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
  }
  .ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
  }
  .ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
  }
  .ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
  }
  .ng-tooltip-show {
    opacity: 1;
  }
