/* You can add global styles to this file, and also import other style files */

.btn-cheio-sem-borda {
    border-radius: 0px;
    width: 100%;
}

.ativado {
    background-color: rgb(44, 44, 44);
    color: #f1f1f1;
}