/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(220, 220, 220);
}

.btn-cheio-sem-borda {
    border-radius: 0px;
    width: 100%;
}
.padding-0 {
    padding: 0px;
}