<div class="background rounded">

    <h2><small class="form-text text-muted negrito-padding text-center">Lista de Produtos</small></h2>

    <div class="row barraPesquisa">
            <div class="col-9 padding-0">
                <input type="text" class="form-control" placeholder="Pesquise..." #pesquise>
            </div>

            <div class="col-2 padding-0">
                <select name="pesquisaPor" class="form-control padding-0" #pesquisaPor>
                    <option value="id">ID</option>
                    <option value="nome">NOME</option>
                </select>
            </div>

            <div class="col-1 padding-0">
                <button class="btn btn-sm btn-cheio" (click)="pesquisar(pesquisaPor, pesquise)"><img src="https://img.icons8.com/search" class="icon"></button>
            </div>
    </div>

    <table class="table text-center" *ngIf="pesquisado == undefined" [hidden]="isDelete == true || isShowMore">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>R$</th>
                <th>Ver mais / Excluir</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let p of listProducts" >
                <tr *ngIf="p.produtos != ''">
                    <ng-container *ngFor="let prod of p.produtos">
                        <td>{{ prod.idProduto }}</td>
                        <td>{{ prod.nome }}</td>
                        <td>{{ prod.preco }}</td>
                        <td>
                            <button class="btn btn-info btn-sm margin-right-5" (click)="showMore(p)">+</button>
                            <button class="btn btn-danger btn-sm" (click)="showDelete(p.idProduto)">x</button>
                        </td>
                    </ng-container>
                </tr>
        </ng-container>
        </tbody>    
    </table>

    <app-deletar-produto [hidden]="isDelete == false" [idProduto]="id" (close)="lessDelete()" (deletado)="showMsgApagou($event)"></app-deletar-produto>
    <app-show-more *ngIf="isShowMore" [produto]="selecionado" (close)="lessMore()"></app-show-more>
</div>
