<div class="background rounded">
    <a [routerLink]="['/dashboardAdm']"> <img src="../../../assets/imagens/left-arrow.png" alt="" class="icon-back"> </a>

    <h2><small class="form-text text-muted negrito-padding text-center">Lista de Usuarios</small></h2>

    <div class="row barraPesquisa">
            <div class="col-9 padding-0">
                <input type="text" class="form-control" placeholder="Pesquise..." #pesquise>
            </div>

            <div class="col-2 padding-0">
                <select name="pesquisaPor" class="form-control padding-0" #pesquisaPor>
                    <option value="cpf">CPF</option>
                    <option value="nome">Nome</option>
                </select>
            </div>

            <div class="col-1 padding-0">
                <button class="btn btn-sm btn-cheio" (click)="pesquisar(pesquisaPor, pesquise)"><img src="https://img.icons8.com/search" class="icon"></button>
            </div>
    </div>

    <table class="table text-center" *ngIf="pesquisado == undefined" [hidden]="isDelete == true || isShowMore">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let usuarios of listUsers">
                    <td>{{ usuarios.id }}</td>
                    <td>{{ usuarios.nome }}</td>
                    <td>{{ usuarios.email }}</td>
                    <td>{{ usuarios.cpf }}</td>
                    <td>{{ usuarios.telefone }}</td>
                    <td>{{ usuarios.celular }}</td>
                    <td>{{ usuarios.dataDeNascimento }}</td>
                    <td>
                        <button class="btn btn-info btn-sm margin-right-5" [routerLink]="[usuarios.id]" >Ver detalhes</button>
                    </td>
                </tr>
        </tbody>    
    </table>

    <!-- <app-deletar-produto [hidden]="isDelete == false" [idProduto]="id" (close)="lessDelete()" (deletado)="showMsgApagou($event)"></app-deletar-produto> -->
    
</div>
