<div id="atendimento" class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Atendimento</h5>
        <p class="card-text">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
        
    </div>    
</div>

<div id="entrega" class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Entrega</h5>
        <p class="card-text">
            Morbi euismod quis risus ac volutpat. Curabitur sit amet nibh vitae dui pretium lobortis. Fusce lobortis pharetra nibh, quis lacinia nisl vestibulum sed. Nam eu justo iaculis, hendrerit sapien non, consectetur arcu. Nunc elementum in nisl id sollicitudin. Praesent non finibus tortor. Aenean efficitur, tortor at vehicula efficitur, dolor mauris malesuada mauris, a imperdiet mi eros vitae magna. Donec quis erat et lorem sodales volutpat quis eget eros. In porta orci id felis aliquam, et scelerisque nulla molestie. Vestibulum aliquet arcu vitae augue placerat rutrum. Nam finibus volutpat pharetra. Cras pulvinar pretium dui id aliquet. Proin nec mi eu enim luctus gravida. Sed eu dui sit amet lacus posuere dignissim. Integer dolor metus, rhoncus a odio vitae, ultricies dictum neque. Aenean commodo tellus a venenatis mattis.

            Etiam tempor sed augue at pretium. Curabitur at quam nec ex molestie feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non nunc ut nisi interdum euismod ac et felis. Pellentesque consequat nec sapien in malesuada. Nunc dolor mi, pellentesque placerat nibh vitae, malesuada egestas tortor. Sed hendrerit ut lacus eget eleifend. Nulla pulvinar augue ac tellus vehicula, faucibus dictum velit mattis. Curabitur pharetra, lacus vel ornare vehicula, ante ex interdum libero, sed hendrerit est enim non velit. 
        </p>
        
    </div>  
</div>

<div id="devolucao" class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Devolução</h5>
        <p class="card-text">
            Morbi euismod quis risus ac volutpat. Curabitur sit amet nibh vitae dui pretium lobortis. Fusce lobortis pharetra nibh, quis lacinia nisl vestibulum sed. Nam eu justo iaculis, hendrerit sapien non, consectetur arcu. Nunc elementum in nisl id sollicitudin. Praesent non finibus tortor. Aenean efficitur, tortor at vehicula efficitur, dolor mauris malesuada mauris, a imperdiet mi eros vitae magna. Donec quis erat et lorem sodales volutpat quis eget eros. In porta orci id felis aliquam, et scelerisque nulla molestie. Vestibulum aliquet arcu vitae augue placerat rutrum. Nam finibus volutpat pharetra. Cras pulvinar pretium dui id aliquet. Proin nec mi eu enim luctus gravida. Sed eu dui sit amet lacus posuere dignissim. Integer dolor metus, rhoncus a odio vitae, ultricies dictum neque. Aenean commodo tellus a venenatis mattis.

            Etiam tempor sed augue at pretium. Curabitur at quam nec ex molestie feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non nunc ut nisi interdum euismod ac et felis. Pellentesque consequat nec sapien in malesuada. Nunc dolor mi, pellentesque placerat nibh vitae, malesuada egestas tortor. Sed hendrerit ut lacus eget eleifend. Nulla pulvinar augue ac tellus vehicula, faucibus dictum velit mattis. Curabitur pharetra, lacus vel ornare vehicula, ante ex interdum libero, sed hendrerit est enim non velit. 
        </p>
        
    </div>  
</div>

<div id="cancelamento" class="card mt-4 mb-4">
    <div class="card-body">
        <h5 class="card-title">Cencelamento</h5>
        <p class="card-text">
            Morbi euismod quis risus ac volutpat. Curabitur sit amet nibh vitae dui pretium lobortis. Fusce lobortis pharetra nibh, quis lacinia nisl vestibulum sed. Nam eu justo iaculis, hendrerit sapien non, consectetur arcu. Nunc elementum in nisl id sollicitudin. Praesent non finibus tortor. Aenean efficitur, tortor at vehicula efficitur, dolor mauris malesuada mauris, a imperdiet mi eros vitae magna. Donec quis erat et lorem sodales volutpat quis eget eros. In porta orci id felis aliquam, et scelerisque nulla molestie. Vestibulum aliquet arcu vitae augue placerat rutrum. Nam finibus volutpat pharetra. Cras pulvinar pretium dui id aliquet. Proin nec mi eu enim luctus gravida. Sed eu dui sit amet lacus posuere dignissim. Integer dolor metus, rhoncus a odio vitae, ultricies dictum neque. Aenean commodo tellus a venenatis mattis.

            Etiam tempor sed augue at pretium. Curabitur at quam nec ex molestie feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non nunc ut nisi interdum euismod ac et felis. Pellentesque consequat nec sapien in malesuada. Nunc dolor mi, pellentesque placerat nibh vitae, malesuada egestas tortor. Sed hendrerit ut lacus eget eleifend. Nulla pulvinar augue ac tellus vehicula, faucibus dictum velit mattis. Curabitur pharetra, lacus vel ornare vehicula, ante ex interdum libero, sed hendrerit est enim non velit. 
        </p>
        
    </div>  
</div>
